<div>
    <h2 id="page-heading">
        <span jhiTranslate="etlBigdataApp.stackOverFlowApiClient.home.title">Stack Over Flow Api Clients</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-stack-over-flow-api-client" [routerLink]="['/stack-over-flow-api-client/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="etlBigdataApp.stackOverFlowApiClient.home.createLabel">
            Create new Stack Over Flow Api Client
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="stackOverFlowApiClients">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="users"><span jhiTranslate="etlBigdataApp.stackOverFlowApiClient.users">Users</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="firstPeriod"><span jhiTranslate="etlBigdataApp.stackOverFlowApiClient.firstPeriod">First Period</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lastPeriod"><span jhiTranslate="etlBigdataApp.stackOverFlowApiClient.lastPeriod">Last Period</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tags"><span jhiTranslate="etlBigdataApp.stackOverFlowApiClient.tags">Tags</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nextSendTime"><span jhiTranslate="etlBigdataApp.stackOverFlowApiClient.nextSendTime">Next Send Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="active"><span jhiTranslate="etlBigdataApp.stackOverFlowApiClient.active">Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="secret"><span jhiTranslate="etlBigdataApp.stackOverFlowApiClient.secret">Secret</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let stackOverFlowApiClient of stackOverFlowApiClients ;trackBy: trackId">
                <td><a [routerLink]="['/stack-over-flow-api-client', stackOverFlowApiClient.id, 'view' ]">{{stackOverFlowApiClient.id}}</a></td>
                <td>{{stackOverFlowApiClient.users}}</td>
                <td>{{stackOverFlowApiClient.firstPeriod | date:'mediumDate'}}</td>
                <td>{{stackOverFlowApiClient.lastPeriod | date:'mediumDate'}}</td>
                <td>{{stackOverFlowApiClient.tags}}</td>
                <td>{{stackOverFlowApiClient.nextSendTime | date:'mediumDate'}}</td>
                <td>{{stackOverFlowApiClient.active}}</td>
                <td>{{stackOverFlowApiClient.secret}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/stack-over-flow-api-client', stackOverFlowApiClient.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/stack-over-flow-api-client', stackOverFlowApiClient.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'stack-over-flow-api-client/'+ stackOverFlowApiClient.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
